html, body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }

a{

    }

*{
    box-sizing: border-box;
    }

input, textarea{
    outline: 0;
    }

textarea{
    font-family: Arial, Helvetica, sans-serif;
    }

input:not([type]),
input[type='text'],
textarea{
    padding: 0;
    }

#map{
    position: absolute;
    width: 100%;
    height: 100%;
    }

