div(class='balloon-content')
    if point.photo
        img(class='balloon-content-img', src='#{point.photo}')
    else
        |
    div(class='balloon-content-name')#{point.name}
    div(class='balloon-content-text')#{point.description}
