#filterOverlay{
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    background: #fff;
    border-left: 1px solid #888;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .15);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, .15);
    position: absolute;
    padding: 10px;
}

.filter-form-title{
    font-size: 24px;
    margin-bottom: 20px;
    }

.filter-form-field{
    margin-bottom: 15px;
    }

.filter-form-field-label{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    }

.filter-form-field-value:not([type]),
.filter-form-field-value[type=text]{
    padding: 3px 5px;
    display: inline-block;
    vertical-align: top;
    width: 380px;
    border: 1px solid #888;
    font-size: 14px;
    }

.filter-form-field-type{
    display: inline-block;
    vertical-align: top;
    width: 185px;
    }